@import '../../../scss/variables.scss';

.reset-form {
  display: grid;
  row-gap: 3rem;
  justify-items: center;

  &__head {
  }

  &__title {
    font-family: 'FranklinGothicStd-ExtraCond';
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__instruction {
    text-align: center;
  }

  &__form {
    display: grid;
    row-gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  & label {
    display: none;
  }

  & input {
    border: none;
    border-bottom: 1px solid rgb(90, 90, 90);
    border-radius: 0;
  }

  & button {
    padding: 0;
    padding-top: 1rem;
    margin-bottom: 3rem;
  }

  // CANCEL PASSWORD RESET
  & > a {
    width: max-content;
    margin-bottom: 1rem;
    font-family: 'Miller Banner', 'Times New Roman', serif;
    font-size: 1.8rem;
    text-decoration: underline;
    text-transform: capitalize;
  }

  & > a:hover {
    text-decoration: none;
    opacity: 1;
  }

  &__sent {
    text-align: center;
  }
}
