@import '../../../../scss/variables.scss';
@import '../../../../scss/mixin.scss';

.nav-links {
  font-family: 'FranklinGothicStd-ExtraCond', sans-serif;

  &--side-drawer {
    width: max-content;
    font-size: 3rem;
  }
}
