.play-page {
  display: grid;
  place-items: center;
  height: 100vh;

  &__wrapper {
    position: relative;
    width: 70%;
  }

  // Style for next card
  &__wrapper > *:nth-child(2) {
    // transform: translateY(-100%);
    position: absolute;
    top: 0;
  }
}
