@import '../../../../scss/variables.scss';

.button {
  font-family: 'FranklinGothicStd-ExtraCond';
  font-size: 3rem;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1.8rem 3rem 1rem 3rem;
  background: $color-primary;
  color: $color-black;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  border: 1px solid $color-primary;
  background: transparent;
  color: $color-primary;
}

.button--inverse {
  border: 1px solid $color-primary;
  background: transparent;
  color: $color-primary;
}

.button--inverse:hover,
.button--inverse:active {
  color: $color-black;
  background: $color-primary;
}

.button--danger {
  background: $color-danger;
  border-color: $color-danger;
}

.button--danger:hover,
.button--danger:active {
  background: $color-danger-light;
  border-color: $color-danger-light;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: $color-grey-light-3;
  color: $color-grey-dark;
  border-color: $color-grey-light-3;
  opacity: 1;
  cursor: not-allowed;
}

// TODO: plan each size of button
.button--small {
  font-size: 0.5rem;
}

.button--medium {
  padding: 1.5rem 2rem;
}

.button--big {
  font-size: 9rem;
  padding: 3rem 8rem 1rem 8rem;
}
