@import '../../../../scss/variables.scss';
@import '../../../../scss/mixin.scss';

.add-btn {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 100;
  width: 8rem;
  height: 8rem;
  font-family: 'FranklinGothicStd-ExtraCond';
  font-size: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $color-primary;
  color: $color-black;
  transition: all 0.3s;

  @include respond(phone) {
    bottom: 2rem;
    right: 2rem;
  }

  &:hover {
    transform: rotate(45deg);
  }

  &:active {
    transform: rotate(90deg);

    @include respond(phone) {
      transform: rotate(0);
    }
  }
}
