@import '../../../../scss/variables.scss';
@import '../../../../scss/mixin.scss';

.main-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  row-gap: 3rem;
  padding: 4rem 2rem 2rem 2rem;
  border-top: 1px solid $color-grey-light;

  @include respond(phone) {
    grid-template-columns: none;
  }

  &__content {
    &--left {
      display: grid;
      row-gap: 4rem;
    }

    &--right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include respond(phone) {
        grid-template-columns: none;
      }
    }

    &--bottom {
      grid-column: 1 / -1;
      display: grid;
      justify-content: center;
      align-items: center;

      @include respond(phone) {
        justify-content: start;
      }
    }
  }

  &__nav {
    display: grid;

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      margin: 5rem 0;
      text-align: start;
    }
  }

  &__copyright {
    font-size: $font-size-small;
    text-align: center;
  }
}
