.side-drawer {
  position: fixed;
  width: 30rem;
  max-width: 65%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 300;
  background-color: rgba(30, 30, 30, 0.9);
  padding: 3rem;
  transition: transform 0.3s ease-out;
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr;
  row-gap: 3rem;
  text-transform: uppercase;

  &__nav {
    display: grid;
  }

  & > *:last-child {
    align-self: end;
  }
}

// CSSTransition
.slide-enter {
  transform: translateX(-100%);
  transition: 0.3s linear;
  opacity: 0;
}
.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
}
.slide-exit {
  transform: translateX(0%);
  transition: 0.3s linear;
  opacity: 1;
}
.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}
