.home-page {
  display: grid;
  row-gap: 20rem;

  &__main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 5rem;
    text-transform: uppercase;
  }

  &__proverb {
    display: grid;
    place-items: center;
  }
}

.font2 {
  font-family: 'TradeGothicLT';
}
.font1 {
  font-family: 'FranklinGothicStd-ExtraCond';
}
.font3 {
  font-family: 'TradeGothicLTStd-BoldExt';
}
.font4 {
  font-family: 'Miller Banner';
}
