.home-page {
  display: grid;
  grid-auto-flow: column;
  gap: 5rem;
  height: 200vh;
  text-transform: uppercase;
}

.font2 {
  font-family: 'TradeGothicLT';
}
.font1 {
  font-family: 'FranklinGothicStd-ExtraCond';
}
.font3 {
  font-family: 'TradeGothicLTStd-BoldExt';
}
.font4 {
  font-family: 'Miller Banner';
}
