.home-page {
  display: grid;
  row-gap: 20rem;

  &__main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 5rem;
  }

  &__proverb {
    display: grid;
    place-items: center;
  }
}
