@import '../../../../scss/variables.scss';
@import '../../../../scss/mixin.scss';

.paginator {
  &--stock-page {
    display: grid;
    row-gap: 10rem;
  }

  &__control-box {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 3rem;
    font-family: 'FranklinGothicStd-ExtraCond';
    font-size: 4rem;
    text-transform: uppercase;

    @include respond(phone) {
      grid-auto-flow: row;
      row-gap: 1ch;
      font-size: 3.5rem;
    }
  }

  &__control:first-child {
  }
  &__number {
  }
  &__control:last-child {
  }

  &__number--active {
    border-bottom: 1px solid $color-primary;

    @include respond(phone) {
      border-bottom: none;
    }

    &::after {
      @include respond(phone) {
        content: '👈🏽';
        position: absolute;
        padding-left: 15px;
      }
    }
  }
}
