@import '../../scss/mixin.scss';

.auth-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 10rem;
  width: 80%;
  margin: auto;
  margin-bottom: 5rem;

  @include respond(phone) {
    grid-template-columns: none;
    gap: 5rem 0px;
  }

  &__required {
    grid-column: 1 / -1;
    justify-self: end;
    font-size: 12px;
    text-transform: capitalize;
  }
}
