.reset-page {
  display: grid;
  row-gap: 2rem;
  width: 30%;
  margin: auto;
  margin-bottom: 20rem;

  &__required {
    justify-self: end;
    font-size: 12px;
    text-transform: capitalize;
  }
}
