@import '../../../../scss/variables.scss';

.flip-card {
  perspective: 150rem;
  position: relative;
  height: 25rem;

  &__side {
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    color: $color-black;
    overflow-wrap: anywhere;
    hyphens: auto;
    overflow: scroll;
    display: grid;
    place-items: center;

    &--front {
    }

    &--back {
      // transform: rotateY(180deg);
    }
  }

  &__content {
    display: grid;
    place-content: center;
    height: 100%;
    padding: 2rem;
  }

  &:hover &__side--front {
    // transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    // transform: rotateY(0);
  }
}
