@import '../../../../scss/variables.scss';

// TODO: the size should be more flexible
// especially height
.flip-card {
  perspective: 150rem;
  position: relative;
  min-height: 30rem;
  cursor: pointer;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border: 1px solid rgba(90, 90, 90, 0.3);
    border-radius: 3px;
    color: $color-black;
    overflow-wrap: anywhere;
    hyphens: auto;
    overflow: scroll;
    transition: all 0.5s ease;

    &--front {
    }

    &--back {
      // transform: rotateY(180deg);
    }
  }

  &__content {
    display: grid;
    // place-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
  }

  &:hover &__side--front {
    transform: rotateY(-5deg);
  }

  // TODO: how to set hover effect on back side?
  &:hover &__side--back {
    // transform: rotateY(-5deg);
  }
}
